<section>
    <div class="js-development-services container-fluid ">
        <div class="main">
            <div class="js-development-text pt-5">
                <h1 class="mainheadingeffects">Values we believe in</h1>
                <p>Being real and breaking stereotypes.</p>
            </div>
            
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 g-4">
                <div class="card h-100">
                        <div class="card-body">
                            <div class="d-flex">
                                <div>
                                   <%= image_tag('checkicon.png', class: 'bounceicon') %>
                                </div>
                                <div class="ms-3">
                                    <h5 class="card-title bounceicon"> Gut feeling over data</h5>
                                    <p >As gut feelings are not random.They carry a justified amount of experience to come up with something.</p>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
    
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 g-4">
                <div class="card h-100">
                        <div class="card-body">
                            <div class="d-flex">
                                <div>
                                    <%= image_tag('checkicon.png', class: 'bounceicon') %>
                                </div>
                                <div class="ms-3">
                                    <h5 class="card-title bounceicon"> Relationships over money</h5>
                                    <p >At the end of the day those relationships will be the reason for happiness.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 g-4">
                    <div class="card h-100">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div>
                                        <%= image_tag('checkicon.png', class: 'bounceicon') %>
                                    </div>
                                    <div class="ms-3">
                                        <h5 class="card-title bounceicon"> Creativity over perfection</h5>
                                        <p >As nothing is perfect for everyone.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 g-4">
                <div class="card h-100">
                        <div class="card-body">
                            <div class="d-flex">
                                <div>
                                   <%= image_tag('checkicon.png', class: 'bounceicon') %>
                                </div>
                                <div class="ms-3">
                                    <h5 class="card-title bounceicon"> Ownership over justification</h5>
                                    <p >When people come to us they expect us to be the driving force.</p>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
    
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 g-4">
                <div class="card h-100">
                        <div class="card-body">
                            <div class="d-flex">
                                <div>
                                    <%= image_tag('checkicon.png', class: 'bounceicon') %>
                                </div>
                                <div class="ms-3">
                                    <h5 class="card-title bounceicon"> Reliability over vendorship</h5>
                                    <p >We thrive in a way, we become are reliable partner rather than just a vendor.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 g-4">
                    <div class="card h-100">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div>
                                        <%= image_tag('checkicon.png', class: 'bounceicon') %>
                                    </div>
                                    <div class="ms-3">
                                        <h5 class="card-title bounceicon"> Quality over competition</h5>
                                        <p >People are fed up with USPs and SWOT analysis, what we deliver is quality.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 g-4">
                <div class="card h-100">
                        <div class="card-body">
                            <div class="d-flex">
                                <div>
                                   <%= image_tag('checkicon.png', class: 'bounceicon') %>
                                </div>
                                <div class="ms-3">
                                    <h5 class="card-title bounceicon"> Passion over profit</h5>
                                    <p >Passion is what takes you far.Far ahead.</p>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
    
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 g-4">
                <div class="card h-100">
                        <div class="card-body">
                            <div class="d-flex">
                                <div>
                                    <%= image_tag('checkicon.png', class: 'bounceicon') %>
                                </div>
                                <div class="ms-3">
                                    <h5 class="card-title bounceicon"> Vision over goals</h5>
                                    <p >Visions are broad, endless and their potential is limitless.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 g-4">
                    <!-- <div class="card h-100">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div>
                                        <%= image_tag('checkicon.png', class: 'bounceicon') %>
                                    </div>
                                    <div class="ms-3">
                                        <h5 class="card-title bounceicon"> Custom ReactJS Development</h5>
                                        <p >If you want a customized web and mobile app that matches your specific business needs, you can rely on Pixoatic Solutions. We develop custom applications that meet all your requirements. We have become a reliable choice of customers by fulfilling their custom web app needs.</p>
                                    </div>
                                </div>
                            </div>
                    </div> -->
                </div>
            </div>
      
        </div>
    </div>
</section>


<style>
.js-development-text {display: grid; place-items: center;}
  h1.mainheadingeffects {
     
      color: #30303C;
        
    }
</style>