<section class="ourworkservice whywork mb-md-5">
    <div class ="Group3 " >
        <div class = "row align-items-center">
            <div class = "col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h1 class = "mainhead">Why Should You Hire React Native Developers from Pixoatic?</h1>
                <p class = "text-center">When you hire developers from Pixoatic, you can save lots of time and money. With our offshore programmers, you can get huge<br/> benefits and see how it comes to you.</p>
            </div>
        </div>
    
        <div class=" mt-4">
            <div class="row main">
                <div class = "col-sm-12 col-md-4 col-lg-4 col-xl-4 mrgnbtm mrgntopfull">
                    <div class="card h-100 " style="background: rgba(255, 0, 0, 0.2);">
                        <div class="card-body" >
                            <div style="position: relative;">                                
                                <%= image_tag('experience.png', class: 'img-fluid', alt: 'wallet') %>
                            </div>
                            <div class ="mt-5">
                                <h1 class=" cardtitle1 cardtitle">4+ Years Of Average Experience</h1>
                            </div>
                            <div>
                                <p class="cardtext1 cardtext">Another advantage that comes to you with hiring developers from Pixoatic is ready and effortless knowledge transfer to them without any issues. By partnering with the developers, you can get to the world's top talents for your esteemed project. They have a group of the best expertise for you.</p>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class = "col-sm-12 col-md-4 col-lg-4 col-xl-4 mrgnbtm mrgntopfull">
                    <div class="card h-100  " style="background: rgba(193, 216, 169); ">
                        <div class="card-body">
                            <div style="position: relative;">
                                <%= image_tag('technology.png', class: 'img-fluid', alt: 'technology', style: 'background: #44D300;') %>
                            </div>
                            <div  class ="mt-5">
                                <h1 class=" cardtitle1 cardtitle">Transparency Is Guaranteed</h1>
                            </div>
                            <div>
                                <p class="cardtext1 cardtext">We weekly update you on your project status details via WhatsApp, email, skype, zoom, google meet, and call to keep you fully updated. Also, it is quite necessary for you to keep live track of the project milestones, upcoming plans, code and bug status, and other software development metrics.</p>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class = "col-sm-12 col-md-4 col-lg-4 col-xl-4 mrgnbtm mrgntopfull mb-sm-0">
                    <div class="card h-100 " style="background: #9dd2e0;">
                        <div class="card-body">
                            <div style="position: relative;">
                                <%= image_tag('watchs.png', class: 'img-fluid', alt: 'money value', style: 'background: #0055D3;') %>
                            </div>
                            <div  class ="mt-5">
                                <h1  class=" cardtitle1 cardtitle">Flexible Engagement Models</h1>
                            </div>
                            <div>
                                <p class="cardtext1 cardtext">Hire developers online on an hourly, part-time, monthly, or fixed cost basis as per requirement. You can choose flexible engagement model options as per your requirements. We have two models: Dedicated resource model and Fixed Time & Fixed Price model.</p>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div> 

       
            <div class="row main">
                <div class = "col-sm-12 col-md-4 col-lg-4 col-xl-4 mrgnbtm mrgntopfull">
                    <div class="card h-100 " style="background: #9f02ff85;">
                        <div class="card-body" >
                            <div style="position: relative;">                                
                                <%= image_tag('notes.png', class: 'img-fluid', alt: 'wallet', style: 'background: #a74adf;') %>
                            </div>
                            <div class ="mt-5">
                                <h1 class=" cardtitle1 cardtitle">Free No-Obligation Quote</h1>
                            </div>
                            <div>
                                <p class="cardtext1 cardtext">When you share your project idea, we give you a no-cost estimate, usually within 24 working hours.</p>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class = "col-sm-12 col-md-4 col-lg-4 col-xl-4 mrgnbtm mrgntopfull">
                    <div class="card h-100  " style="background: #00d3c780; ">
                        <div class="card-body">
                            <div style="position: relative;">
                                <%= image_tag('intrigrity.png', class: 'img-fluid', alt: 'technology', style: 'background: #1bbbb2;') %>
                            </div>
                            <div  class ="mt-5">
                                <h1 class=" cardtitle1 cardtitle">Integrity & Transparency</h1>
                            </div>
                            <div>
                                <p class="cardtext1 cardtext">Your thought is protected with us as we regard your secrecy. Our groups work straightforwardly and follow strict NDAs. Before the initial discussion, we sign NDA (Non-Disclosure Agreement) with our experts so that they are bound to it.</p>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class = "col-sm-12 col-md-4 col-lg-4 col-xl-4 mrgnbtm mb-sm-0 mrgntopfull">
                    <div class="card h-100 " style="background: #7386007a;">
                        <div class="card-body">
                            <div style="position: relative;">
                                <%= image_tag('skills.png', class: 'img-fluid', alt: 'money value', style: 'background: #899b33;') %>
                            </div>
                            <div  class ="mt-5">
                                <h1  class=" cardtitle1 cardtitle">Skilled Developers</h1>
                            </div>
                            <div>
                                <p class="cardtext1 cardtext">At the point when you collaborate with a developer from Pixoatic, you get numerous choices to choose from. You can hire developers that suit industrial needs and understand your business challenges well.</p>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        

        
            <div class="row main">
                <div class = "col-sm-12 col-md-4 col-lg-4 col-xl-4 mrgnbtm mrgntopfull">
                    <div class="card h-100 " style="background: #00b2ff66; ">
                        <div class="card-body" >
                            <div style="position: relative;">                                
                                <%= image_tag('meet.png', class: 'img-fluid', alt: 'wallet', style: 'background: #41b6e9;') %>
                            </div>
                            <div class ="mt-5">
                                <h1 class=" cardtitle1 cardtitle">Meet Deadlines</h1>
                            </div>
                            <div>
                                <p class="cardtext1 cardtext">Another advantage that comes to you is the on-time project delivery using Agile approach. They strictly adhere to the timelines and never let you compromise.</p>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class = "col-sm-12 col-md-4 col-lg-4 col-xl-4 mrgnbtm mrgntopfull">
                    <div class="card h-100  " style="background: #7266a582;">
                        <div class="card-body">
                            <div style="position: relative;">
                                <%= image_tag('practice.png', class: 'img-fluid', alt: 'technology', style: 'background: #6d57dd;') %>
                            </div>
                            <div  class ="mt-5">
                                <h1 class=" cardtitle1 cardtitle">Practise Latest Technology</h1>
                            </div>
                            <div>
                                <p class="cardtext1 cardtext">Hire programmers from Pixoatic follow the most recent technology practices tools, trends and frameworks to deliver the best services across the globe at modest rates.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        
    </div> 
</section>