<section class="socialiconssec">
    <div class="react-native">
        <div class="row main ">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 ">
                <div>
                    <h1 class="mainheadingeffects">React Native App Development Company for Multi-Platform Presence</h1>
                </div> 
            </div>
            
            <div class=" col-sm-12 col-md-12 col-lg-6 col-xl-6 ">
                <div>
                    <p class="mt-1">Learn how the world famous apps were built with React Native</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 ">
                <div class= "">
                    <p class="react-native-description1">Pixoatic Solutions provide custom React Native app development services as the fast and cost-effective option for mobile app projects. This technology allows using one team for both web and mobile applications, dramatically improving cost-efficiency. React Native is championed by Facebook and adopted by giants like Walmart, Bloomberg and Uber. Learn how the world famous apps were built with React Native.</p>
                </div> 
            </div>

            <div class=" col-sm-12 col-md-12 col-lg-6 col-lg-6">
                <div class="donfull d-lg-block ">
                    <div class="d-flex justify-content-between flex-wrap mainwidth ">
                        <div style="position: relative;"><a href="#" class="fbicon">
                            <%= image_tag("fbimg.png", alt: "facebook", class: "mb-5") %></a></div>
                        <div style="position: relative;"><a href="#" class="instaicon">
                            <%= image_tag("instaimg.png", alt: "instagram", class: "mb-5") %></a></div>
                        <div style="position: relative;"><a href="#" class="scloudicon">
                            <%= image_tag("soundcloud.png", alt: "soundcloud", class: "mb-5") %></a></div>
                        <div style="position: relative;"><a href="#" class="walmrticon">
                            <%= image_tag("walmart.png", alt: "walmart", class: "mb-5") %></a></div>
                    </div>
                </div>
                <div class="donsmall d-lg-none ">
                    <div class="d-flex justify-content-between flex-wrap mainwidth ">
                        <div style="position: relative;"><a href="#" class="fbicon">
                        <%= image_tag("fbimg.png", alt: "facebook", class: "mb-5", style:"width: 100px;") %></a></div>
                    <div style="position: relative;"><a href="#" class="instaicon">
                        <%= image_tag("instaimg.png", alt: "instagram", class: "mb-5", style:"width: 100px;") %></a></div>
                    <div style="position: relative;"><a href="#" class="scloudicon">
                        <%= image_tag("soundcloud.png", alt: "soundcloud", class: "mb-5", style:"width: 100px;") %></a></div>
                    <div style="position: relative;"><a href="#" class="walmrticon">
                        <%= image_tag("walmart.png", alt: "walmart", class: "mb-5", style:"width: 100px;") %></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    section.socialiconssec h1.mainheadingeffects:hover{
        color: #fff;
        box-shadow: inset 1056px 0 0 0 #3EDCC2;
    }
</style>