<section class="processsec pb-5"  style="background: #30303C;">
    <div class ="main row mb-2 mt-0">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="pt-5 mb-2 myprocesshead">
        <h1 class="heading3  mainheadingeffects">The React Native Process We Follow</h1></div>
        <p class="description">Benefits Of Choosing Us As Your Development Company</p></div>
        
    </div>
    <div class="main row d-lg-visible" id="myGroup" >
      <div class="row">
        <div class="d-flex align-items-start">
      
          <div class="col-12" style="position: relative;">
            <div class="tab-content " >
              <div class="tab-pane fade show active" id="exploreandAnalyze" role="tabpanel" aria-labelledby="exploreandAnalyze-tab">
                <div class="row">
                  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <h1 class="first-heading mb-4" style="border-bottom: 4px solid #3EDCC2; width: 49px;">01</h1> 
                    <h5 class ="first-text text-white  mb-4 procesrighthead" >Explore and Analyze</h5> 
                    <div class="d-flex">
                        <%= image_tag("Vector.png", class: "img-fluid", style: "width: 35px; height: 35px;") %>
                        <p class="skills-text text-white ms-2 processpara"> Get to know our clients</p>
                    </div>
                    <div class="d-flex ">
                        <%= image_tag("Vector.png", class: "img-fluid", style: "width: 35px; height: 35px;") %>
                        <p class="skills-text text-white ms-2 processpara">Sign an NDA and gather client requirements</p>
                    </div>
                    <div class="d-flex ">
                        <%= image_tag("Vector.png", class: "img-fluid", style: "width: 35px; height: 35px;") %>
                        <p class="skills-text text-white ms-2 processpara"> Propose our own solutions and lock the deal</p>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="inboxdiv"></div>
                  </div>
                  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 ms-auto ">
                    <div class = "proceimg zoomin" >
                      <%= image_tag("Rectangle38.jpg", class: "img-fluid float-end", alt: "Assets") %>
                  </div> 
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="documentationandScoping" role="tabpanel" aria-labelledby="documentationandScoping-tab">
                <div class="row">
                  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <h1 class="first-heading mb-4" style="border-bottom: 4px solid #3EDCC2; width: 49px;">02</h1> 
                    <h5 class ="first-text text-white mb-4 procesrighthead" >Documentation and Scoping</h5> 
                    <div class="d-flex ">
                        <%= image_tag("Vector.png", class: "img-fluid", style: "width: 35px; height: 35px;") %>
                    <p class="skills-text text-white ms-2 processpara">Project kick-off meeting with PM.</p>
                    </div>
                    <div class="d-flex ">
                        <%= image_tag("Vector.png", class: "img-fluid", style: "width: 35px; height: 35px;") %>
                        <p class="skills-text text-white ms-2 processpara" >
                        Scope of Work Documentation</p>
                    </div>
                    <div class="d-flex ">
                        <%= image_tag("Vector.png", class: "img-fluid", style: "width: 35px; height: 35px;") %>
                        <p class="skills-text text-white ms-2 processpara">
                    
                        Final Scope review with development and design teams.</p>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="inboxdiv"></div>
                  </div>
                  <div class=" col-sm-12 col-md-4 col-lg-4 col-xl-4 ms-auto ">
                    <div class = "proceimg zoomin" >
                      <%= image_tag("Rectangle38.jpg", class: "img-fluid float-end", alt: "Assets") %>
                  </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="DesigningandWireFraming" role="tabpanel" aria-labelledby="DesigningandWireFraming-tab">
                <div class="row">
                  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <h1 class="first-heading mb-4" style="border-bottom: 4px solid #3EDCC2; width: 49px;">03</h1> 
                    <h5 class ="first-text text-white  mb-4 procesrighthead" >Designing and WireFraming</h5> 
                    <div class="d-flex">
                        <%= image_tag("Vector.png", class: "img-fluid", style: "width: 35px; height: 35px;") %>
                        <p class="skills-text text-white ms-2 processpara">
                        Wireframing based on the Client Brief</p>
                    </div>
                    <div class="d-flex">
                        <%= image_tag("Vector.png", class: "img-fluid", style: "width: 35px; height: 35px;") %>
                        <p class="skills-text text-white ms-2 processpara">
                        Design individual App screen with UI/UX experts</p>
                    </div>
                    <div class="d-flex">
                        <%= image_tag("Vector.png", class: "img-fluid", style: "width: 35px; height: 35px;") %>
                        <p class="skills-text text-white ms-2 processpara">
                        Sharing the design with clients for approval</p>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="inboxdiv"></div>
                  </div>
                  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 ms-auto ">
                    <div class = "proceimg zoomin" >
                    <%= image_tag("Rect3.jpg", class: "img-fluid float-end", alt: "Assets") %>
                  </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="DevelopmentandTesting" role="tabpanel" aria-labelledby="DevelopmentandTesting-tab">
                <div class="row">
                  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <h1 class="first-heading mb-4" style="border-bottom: 4px solid #3EDCC2; width: 49px;">04</h1> 
                    <h5 class ="first-text text-white  mb-4 procesrighthead" >Development and Testing</h5> 
                    <div class="d-flex">
                        <%= image_tag("Vector.png", class: "img-fluid", style: "width: 35px; height: 35px;") %>
                    
                    <p class="skills-text text-white ms-2 processpara">
                        Coding the Alpha version of the app</p>
                    </div>
                    <div class="d-flex">
                    <%= image_tag("Vector.png", class: "img-fluid", style: "width: 35px; height: 35px;") %>
                    <p class="skills-text text-white ms-2 processpara">
                        Coding the Beta Version for client review</p>
                    </div>
                    <div class="d-flex">
                        <%= image_tag("Vector.png", class: "img-fluid", style: "width: 35px; height: 35px;") %>
                        <p class="skills-text text-white ms-2 processpara">
                        User-Acceptance Testing for 100% bug-free deployment.</p>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="inboxdiv"></div>
                  </div>
                  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 ms-auto">
                    <div class = "proceimg zoomin" >
                       <%= image_tag("Rect4.jpg", class: "img-fluid float-end", alt: "Assets") %>
                  </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="Deployment" role="tabpanel" aria-labelledby="Deployment-tab">
                <div class="row">
                  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <h1 class="first-heading mb-4" style="border-bottom: 4px solid #3EDCC2; width: 49px;">05</h1> 
                    <h5 class ="first-text text-white  mb-4 procesrighthead" >Deployment</h5> 
                    <div class="d-flex">
                        <%= image_tag("Vector.png", class: "img-fluid", style: "width: 35px; height: 35px;") %>
                    
                        <p class="skills-text text-white ms-2 processpara">
                        Submit the app on Google Play Store</p>
                    </div>
                    <div class="d-flex">
                        <%= image_tag("Vector.png", class: "img-fluid", style: "width: 35px; height: 35px;") %>
                    
                        <p class="skills-text text-white ms-2 processpara">
                        Deploy Database on Client’s server(If required)</p>
                    </div>
                    <div class="d-flex">
                        <%= image_tag("Vector.png", class: "img-fluid", style: "width: 35px; height: 35px;") %>
                    
                        <p class="skills-text text-white ms-2 processpara">
                        Complete App review process and make the app live.</p>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="inboxdiv"></div>
                  </div>
                  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 ms-auto">
                    <div class = "proceimg zoomin" >
                       <%= image_tag("Rect5.jpg", class: "img-fluid float-end", alt: "Assets") %>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class=" mydiv text-center midddlebox" style="margin-top: -12px; position: absolute;    top: 0; left: 0;right: 0;margin-left: auto;margin-right: auto;">
              <ul class ="first-text nav flex-column nav-pills " id="v-pills-tab" role="tablist" aria-orientation="vertical" >
                <li class="nav-item " role="presentation">
                    <a class="nav-link active" id="exploreandAnalyze-tab" data-bs-toggle="pill" data-bs-target="#exploreandAnalyze"  role="tab" type="button" aria-controls="exploreandAnalyze" aria-selected="true" style=" text-decoration: none;">Explore and Analyze</a></li>
                <li class="nav-item " role="presentation">
                      <a class="nav-link " id="documentationandScoping-tab" data-bs-toggle="pill" data-bs-target="#documentationandScoping"  role="tab" type="button" aria-controls="documentationandScoping" aria-selected="false"   style="text-decoration: none;">Documentation and Scoping</a></li>

                <li class ="nav-item " role="presentation">
                      <a class="nav-link " id="DesigningandWireFraming-tab" data-bs-toggle="pill" data-bs-target="#DesigningandWireFraming"  role="tab" type="button" aria-controls="DesigningandWireFraming" aria-selected="false" style=" text-decoration: none;">Designing and WireFraming</a></li> 
                <li class ="nav-item " role="presentation">
                      <a class=" nav-link" id="DevelopmentandTesting-tab" data-bs-toggle="pill" data-bs-target="#DevelopmentandTesting"  role="tab" type="button" aria-controls="DevelopmentandTesting" aria-selected="false" style="text-decoration: none;">Development and Testing</a></li> 
                <li class ="nav-item " role="presentation">
                      <a class=" nav-link lastchild" id="Deployment-tab" data-bs-toggle="pill" data-bs-target="#Deployment"  role="tab" type="button" aria-controls="Deployment" aria-selected="false" style="text-decoration: none;">Deployment</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">

          </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="main row d-lg-none" id="myvales">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="ExploreandAnalyze-tab" data-bs-toggle="tab" data-bs-target="#ExploreandAnalyze" type="button" role="tab" aria-controls="ExploreandAnalyze" aria-selected="true">Explore and Analyze</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="DocumentationandScoping-tab" data-bs-toggle="tab" data-bs-target="#DocumentationandScoping" type="button" role="tab" aria-controls="DocumentationandScoping" aria-selected="false">Documentation and Scoping</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="designingandWireFraming-tab" data-bs-toggle="tab" data-bs-target="#designingandWireFraming" type="button" role="tab" aria-controls="designingandWireFraming" aria-selected="false">Designing and WireFraming</button>
              </li>
              <li class="nav-item" role="presentation">
                  <button class="nav-link" id="developmentandTesting-tab" data-bs-toggle="tab" data-bs-target="#developmentandTesting" type="button" role="tab" aria-controls="developmentandTesting" aria-selected="false">Development and Testing</button>
                </li>
              <li class="nav-item" role="presentation">
                  <button class="nav-link" id="deployment-tab" data-bs-toggle="tab" data-bs-target="#deployment" type="button" role="tab" aria-controls="deployment" aria-selected="false">Deployment</button>
              </li>
          </ul>
          <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="ExploreandAnalyze" role="tabpanel" aria-labelledby="ExploreandAnalyze-tab">
                  <div class="row">
                      <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7 mt-3">
                          <h1 class="first-heading mb-4" style="border-bottom: 4px solid #3EDCC2; width: 49px;">01</h1> 
                          <h5 class ="first-text text-white  mb-4 procesrighthead" >Explore and Analyze</h5> 
                          <div class="d-flex">
                              <%= image_tag("Vector.png", class: "img-fluid", style: "width: 35px; height: 35px;") %>
                              <p class="skills-text text-white ms-2 processpara"> Get to know our clients</p>
                          </div>
                          <div class="d-flex ">
                              <%= image_tag("Vector.png", class: "img-fluid", style: "width: 35px; height: 35px;") %>
                              <p class="skills-text text-white ms-2 processpara">Sign an NDA and gather client requirements</p>
                          </div>
                          <div class="d-flex ">
                              <%= image_tag("Vector.png", class: "img-fluid", style: "width: 35px; height: 35px;") %>
                              <p class="skills-text text-white ms-2 processpara"> Propose our own solutions and lock the deal</p>
                          </div>
                      </div>
                      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-4">
                          <div class = "proceimg zoomin" >
                              <%= image_tag("Rectangle38.jpg", alt: "ExploreandAnalyze") %>
                          </div> 
                      </div>
                  </div>
              </div>
              <div class="tab-pane fade" id="DocumentationandScoping" role="tabpanel" aria-labelledby="DocumentationandScoping-tab">
                  <div class="row">
                      <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7 mt-3">
                          <h1 class="first-heading mb-4" style="border-bottom: 4px solid #3EDCC2; width: 49px;">02</h1> 
                          <h5 class ="first-text text-white mb-4 procesrighthead" >Documentation and Scoping</h5> 
                          <div class="d-flex ">
                              <%= image_tag("Vector.png", class: "img-fluid", style: "width: 35px; height: 35px;") %>
                          <p class="skills-text text-white ms-2 processpara">Project kick-off meeting with PM.</p>
                          </div>
                          <div class="d-flex ">
                              <%= image_tag("Vector.png", class: "img-fluid", style: "width: 35px; height: 35px;") %>
                              <p class="skills-text text-white ms-2 processpara" >
                              Scope of Work Documentation</p>
                          </div>
                          <div class="d-flex ">
                              <%= image_tag("Vector.png", class: "img-fluid", style: "width: 35px; height: 35px;") %>
                              <p class="skills-text text-white ms-2 processpara">
                          
                              Final Scope review with development and design teams.</p>
                          </div>
                      </div>
                      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-4">
                          <div class = "proceimg zoomin" >
                              <%= image_tag("Rectangle38.jpg", alt: 'DocumentationandScoping')%>
                          </div> 
                      </div>
                  </div>
              </div>
              <div class="tab-pane fade" id="designingandWireFraming" role="tabpanel" aria-labelledby="DesigningandWireFraming-tab">
                  <div class="row">
                      <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7 mt-3">
                          <h1 class="first-heading mb-4" style="border-bottom: 4px solid #3EDCC2; width: 49px;">03</h1> 
                          <h5 class ="first-text text-white  mb-4 procesrighthead" >Designing and WireFraming</h5> 
                          <div class="d-flex">
                              <%= image_tag("Vector.png", class: "img-fluid", style: "width: 35px; height: 35px;") %>
                              <p class="skills-text text-white ms-2 processpara">
                              Wireframing based on the Client Brief</p>
                          </div>
                          <div class="d-flex">
                              <%= image_tag("Vector.png", class: "img-fluid", style: "width: 35px; height: 35px;") %>
                              <p class="skills-text text-white ms-2 processpara">
                              Design individual App screen with UI/UX experts</p>
                          </div>
                          <div class="d-flex">
                              <%= image_tag("Vector.png", class: "img-fluid", style: "width: 35px; height: 35px;") %>
                              <p class="skills-text text-white ms-2 processpara">
                              Sharing the design with clients for approval</p>
                          </div>
                      </div>
                      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-4">
                          <div class = "proceimg zoomin" >
                              <%= image_tag("Rectangle38.jpg", alt: 'designingandWireFraming')%>
                          </div> 
                      </div>
                  </div>
              </div>
              <div class="tab-pane fade" id="developmentandTesting" role="tabpanel" aria-labelledby="DevelopmentandTesting-tab">
                  <div class="row">
                      <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7 mt-3">
                          <h1 class="first-heading mb-4" style="border-bottom: 4px solid #3EDCC2; width: 49px;">04</h1> 
                          <h5 class ="first-text text-white  mb-4 procesrighthead" >Development and Testing</h5> 
                          <div class="d-flex">
                              <%= image_tag("Vector.png", class: "img-fluid", style: "width: 35px; height: 35px;") %>
                          
                          <p class="skills-text text-white ms-2 processpara">
                              Coding the Alpha version of the app</p>
                          </div>
                          <div class="d-flex">
                          <%= image_tag("Vector.png", class: "img-fluid", style: "width: 35px; height: 35px;") %>
                          <p class="skills-text text-white ms-2 processpara">
                              Coding the Beta Version for client review</p>
                          </div>
                          <div class="d-flex">
                              <%= image_tag("Vector.png", class: "img-fluid", style: "width: 35px; height: 35px;") %>
                              <p class="skills-text text-white ms-2 processpara">
                              User-Acceptance Testing for 100% bug-free deployment.</p>
                          </div>
                      </div>
                      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-4">
                          <div class = "proceimg zoomin" >
                              <%= image_tag("Rectangle38.jpg", alt: 'developmentandTesting') %>
                          </div> 
                      </div>
                  </div>
              </div>
              <div class="tab-pane fade" id="deployment" role="tabpanel" aria-labelledby="Deployment-tab">
                  <div class="row">
                      <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7 mt-3">
                          <h1 class="first-heading mb-4" style="border-bottom: 4px solid #3EDCC2; width: 49px;">05</h1> 
                          <h5 class ="first-text text-white  mb-4 procesrighthead" >Deployment</h5> 
                          <div class="d-flex">
                              <%= image_tag("Vector.png", class: "img-fluid", style: "width: 35px; height: 35px;") %>
                          
                              <p class="skills-text text-white ms-2 processpara">
                              Submit the app on Google Play Store</p>
                          </div>
                          <div class="d-flex">
                              <%= image_tag("Vector.png", class: "img-fluid", style: "width: 35px; height: 35px;") %>
                          
                              <p class="skills-text text-white ms-2 processpara">
                              Deploy Database on Client’s server(If required)</p>
                          </div>
                          <div class="d-flex">
                              <%= image_tag("Vector.png", class: "img-fluid", style: "width: 35px; height: 35px;") %>
                          
                              <p class="skills-text text-white ms-2 processpara">
                              Complete App review process and make the app live.</p>
                          </div>
                      </div>
                      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-4">
                          <div class = "proceimg zoomin" >
                              <%= image_tag("", alt: 'deployment') %>
                          </div> 
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section> 

<style>
section.processsec #myGroup .midddlebox  ul.nav-pills li.nav-item a{text-align: center;}
section.processsec #myGroup .midddlebox  ul.nav-pills li a,
section.processsec #myGroup .midddlebox  ul.nav-pills li a{color: #fff; cursor: pointer;}
section.processsec #myGroup .midddlebox ul.nav-pills .nav-link.active,
section.processsec #myGroup .midddlebox  ul.nav-pills .show>.nav-link{color: #00dcdf!important;text-decoration: none; background-color: transparent !important;}
section.processsec #myGroup .midddlebox  ul.nav-pills li.nav-item a.nav-link:focus, 
section.processsec #myGroup .midddlebox  ul.nav-pills li.nav-item .nav-link:hover{color: #00dcdf!important;text-decoration: none; background-color: transparent !important;}
section.processsec #myGroup .midddlebox  ul.nav-pills li.nav-item a.nav-link.active, 
section.processsec #myGroup .midddlebox  ul.nav-pills li.nav-item .show>a.nav-link{
    color: #00dcdf!important;text-decoration: none; background-color: transparent !important;
}

@media screen and (max-width:1280px) {
    
    section.processsec #myGroup .midddlebox ul li a::after{
        content: "";
        height: 33px;
       
    }
    section.processsec #myGroup .midddlebox ul.first-text li a {
    padding-bottom: 22px;
}
}
</style>