<%= content_for :script do %>
  <%= javascript_include_tag "career.js" %>
<%end%>
<section class="careerbenifits join-us removextrapad">

   <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header" style="border:none!important;">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <!-- Form -->
                <%= render "pixoatics/career/apply_form" %>             
            </div>
            </div>
        </div>
    </div>


    <div class=" px-pd-5">
        <div class="benefits-heading">
            <h1 class="mainheadingeffects">Join us</h1>
            <p class="">Current Openings</p>
        </div>
        <% if @jobopening_obj.nil? || @jobopening_obj.empty? %>
            <div class="row main benefits-headingcontent mt-2">
                <p class="text-center">We don't currently have any open vacancies</p>
            </div>
        <% else %>
            <% @jobopening_obj.each do |job_obj|%>
                <div class="row main benefits-headingcontent mt-2">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h1 class="texteffects js-text1"><%= job_obj.title%></h1>
                    </div>
                    <div class="d-lg-inline-flex justify-content-between">
                        <div class="" style="margin-top: 12px;">
                            <div class="form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
                                <label class="form-check-label ms-1" for="inlineRadio1"><%= job_obj.experience_level %></label>
                            </div>
                            <div class=" form-check-inline ">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" />
                                <label class="form-check-label ms-1" for="inlineRadio2"><%= job_obj.location %></label>
                            </div>

                            <div class=" form-check-inline ">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" />
                                <label class="form-check-label ms-1" for="inlineRadio3"><%= job_obj.employment_type%></label>
                            </div>
                        </div>
                        <div class="btnmarginresp">
                            <button class=" btn btn-primary rounded-pill btnhover" data-bs-toggle="modal" data-bs-target="#exampleModal" id="reset-modal-errors" >Apply&nbsp; <i class="fa fa-arrow-right-long"></i></button>
                        </div>
                    </div>
                    <div class="mt-4">
                        <p><%= job_obj.one_line_description %></p>
                    </div>

                    <div class="read-more ">
                        <div class="">
                            <div class="btn2-text skill mt-5 hidden" >
                                <div><%= job_obj.brief_description.html_safe %></div>
                            </div>
                            <a id="btn2" class="btn2 " role="button" style="color: #222F9C;font-weight: 600;text-decoration: none;font-size: 20px;" aria-pressed="true">Read More</a>
                        
                        </div>
                    </div>
                    <div><hr></div>
                </div>
            <%end%>
        <% end %>
    </div>
</section>