<footer class="footer">
    <div class="main mt-0" style="margin-top:0px !important;">
            <div class="row px-3 pt-5" >
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="footerlogo">
                        
                        <a class="logo" href="<%= root_path %>">
                            <%= image_tag('Logo.png', class: 'img-fluid', alt: 'logo') %>
                        </a>
                     </div>
                     <p class="wedo_des pt-4">We help businesses grow by services that matter</p>
                     <div class="footerIcons mt-5">
                        
                        <ul class="list-unstyled">
                            <li class="wedo_des "><i class="fa fa-regular fa-envelope fa-lg"></i><a href="mailto:Support@pixoatic.com" class="ps-2" target="blank">Support@pixoatic.com</a></li>
                            <li class="wedo_des"><i class="fa fa-brands fa-skype fa-xl"></i><a href="https://join.skype.com/invite/xPYNPI9sJXho" class="ps-2" target="blank">Pixoatic Solutions</a></li>
                        </ul>
                        
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div>
                        
                        <h3 class="wedo_title">Company</h3>
                        
                        <ul class="list-group">
                            <li class="list-group-item wedo_des"><a href="<%= aboutUs_path %>">About Us</a></li>
                            <li class="list-group-item wedo_des"><a href="<%= career_path %>">Careers</a></li>
                        </ul>
                        
                        <h4 class="wedo_title mt-4">Dedicated Hiring</h4>
                        
                    <p class="wedo_des"><a href="<%= onDemandDeveloper_path %>">Looking to hire for long-term or full-time assignments?</a></p>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div>
                        
                        <h3 class="wedo_title">Services</h3>
                        
                        <ul class="list-group">
                            <li class="list-group-item wedo_des"><a href="<%= ui_ux_development_path %>">UI/UX design and development</a></li>
                            <li class="list-group-item wedo_des"><a href="<%= rordeveloper_path %>">ROR Development</a></li>
                            <li class="list-group-item wedo_des"><a href="<%= reactdevelopment_path %>">React Native Development</a></li>
                            <li class="list-group-item wedo_des"><a href="<%= jsdevelopment_path %>">React JS Development</a></li>
                            <li class="list-group-item wedo_des"><a href="<%= qa_development_path %>">Quality Assurance Services</a></li>                            
                        </ul>
                        
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div>
                        
                        <h4 class="wedo_title">Contact</h4>
                        <h5 class="wedo_title">
                            <%= image_tag('india.png', class: 'img-fluid', alt: 'india') %>
                            India
                        </h5>
                        <p class="wedo_des">131, Shubh Sampada, Nipania, Indore, Madhya Pradesh 453771</p><br>
                        <p class="wedo_des mt8">E-237AA, Industrial AreaPhase 8B, Mohali 160071</p>
                    </div>
                </div>
            </div>
    </div>
    <div class=" bottom-para" style="background-color: #fff;">
        <div class="row px-1 pt-4 main">
            <div class="col-xs-12 col-md-3 text-xs-center">
                <p>Copyright@ 2023 All right reserved</p>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-xs-12 col-md-3 text-xs-center">
                <div class="row">
                    <ul class="list-inline">
                        <li class=" list-inline-item wedo_des"><a href="https://www.behance.net/Pixoaticsolutions" target="blank"><i class="fa fa-brands fa-behance fa-xl"></i></a></li>
                        <li class="list-inline-item wedo_des"><a href="https://www.instagram.com/pixoatic/" target="blank"><i class="fa fa-brands fa-instagram fa-xl"></i></a></li>
                        <li class="list-inline-item wedo_des"><a href="https://www.linkedin.com/company/pixoatic-solutions/" target="blank"><i class="fa fa-brands fa-linkedin fa-xl"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<footer>