<section class="reactnativedevsec ui-ux-design mb-5 ">
    <div class="container-fluid ">
        <div class="main">
            <div class="hiresofware pb-3"><hr></div>
            <div class="js-development-text pt-2">
                <h1 class="mainheadingeffects text-capitalize">Core Services</h1>
                <p class="pb-3"></p>
            </div>            
            <div class="row">
                <div class="cards">            
                    <div class="row ">
                        <div class="col-sm-12 col-md-12 col-lg-4 col-12 mb-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <p class="forntssizepara mb-0"><%= image_tag('checkicon.png', class: 'bounceicon') %> Test Plan Creation</p>
                                </div>
                               
                            </div>
                        </div> 
            
                        <div class="col-sm-12 col-md-12 col-lg-4 col-12 mb-3">
                            <div class="card h-100 ">
                                <div class="card-body">
                                    <p class="forntssizepara mb-0"><%= image_tag('checkicon.png', class: 'bounceicon') %> Compatibility Testing</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-12 col-md-12 col-lg-4 col-12 mb-3">
                            <div class="card h-100 ">
                                <div class="card-body">
                                    <p class="forntssizepara mb-0"><%= image_tag('checkicon.png', class: 'bounceicon') %> Integration Testing</p>
                                </div>
                            </div>
                        </div>   
                    </div>

                    <div class="row ">
                        <div class="col-sm-12 col-md-12 col-lg-4 col-12 mb-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <p class="forntssizepara mb-0"><%= image_tag('checkicon.png', class: 'bounceicon') %> System Testing</p>
                                </div>
                               
                            </div>
                        </div> 
            
                        <div class="col-sm-12 col-md-12 col-lg-4 col-12 mb-3">
                            <div class="card h-100 ">
                                <div class="card-body">
                                    <p class="forntssizepara mb-0"><%= image_tag('checkicon.png', class: 'bounceicon') %> User Acceptance Testing</p>
                                </div>
                            </div>
                        </div>
                    </div>            
                </div>
            </div>
        </div>
    </div>
</section>

<style>
section.ui-ux-design .mainheadingeffects:hover {
    color: #fff;
    box-shadow: inset 567px 0 0 0 #3EDCC2;
}

section.ui-ux-design .mainheadingeffects {
    color: #000;
}
</style>