<section class="reactnativedevsec ui-ux-design mb-5 ">
    <div class="container-fluid ">
        <div class="main">
            <div class="js-development-text pt-2">
                <h1 class="mainheadingeffects text-capitalize">The design quality checklist we use</h1>
                <p class="pb-3">Pixoatic Solution aims to create a UI/UX design that checks the following boxes:</p>
            </div>
            
            <div class="row">
                <div class="cards">
            
                    <div class="row ">
                        <div class="col-sm-12 col-md-12 col-lg-6 col-12 mb-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <p class="forntssizepara mb-0"><%= image_tag('checkicon.png', class: 'bounceicon') %> the design aligns with your brand message, industry and business specifics</p>
                                </div>
                               
                            </div>
                        </div>   
            
                        <div class="col-sm-12 col-md-12 col-lg-6 col-12 mb-3">
                            <div class="card h-100 ">
                                <div class="card-body">
                                    <p class="forntssizepara mb-0"><%= image_tag('checkicon.png', class: 'bounceicon') %> your target customer can quickly grasp the idea of what your software is and why they should use it</p>
                                </div>
                            </div>
                        </div>   
                    </div>
            
                    <div class="row ">
                        <div class="col-sm-12 col-md-12 col-lg-6 col-12 mb-3">
                            <div class="card h-100 ">
                                <div class="card-body">
                                    <p class="forntssizepara mb-0"><%= image_tag('checkicon.png', class: 'bounceicon') %> your application or website helps the end user achieve their ultimate goal</p>
                                </div>
                            </div>
                        </div>   
            
                        <div class="col-sm-12 col-md-12 col-lg-6 col-12 mb-3">
                            <div class="card h-100 ">
                                <div class="card-body">
                                    <p class="forntssizepara mb-0"><%= image_tag('checkicon.png', class: 'bounceicon') %> people don’t bump into roadblocks or get stuck while using your app or website</p>
                                </div>
                            </div>
                        </div>   
                    </div>
            
                    <div class="row ">
                        <div class="col-sm-12 col-md-12 col-lg-6 col-12 mb-3">
                            <div class="card h-100 ">
                                <div class="card-body">
                                    <p class="forntssizepara mb-0"><%= image_tag('checkicon.png', class: 'bounceicon') %> your custom software meets the expectations of your stakeholders</p>
                                </div>
                            </div>
                        </div>   
            
                        <div class="col-sm-12 col-md-12 col-lg-6 col-12 mb-3">
                           
                        </div>   
                    </div>
            
                </div>
            </div>
            <div class="hiresofware pt-3"><hr></div>
        </div>
    </div>
</section>

<style>
section.ui-ux-design .mainheadingeffects:hover {
    color: #fff;
    box-shadow: inset 567px 0 0 0 #3EDCC2;
}
</style>