<section class=" js-development-services whywork mb-md-5 pt-5">
    <div class ="Group3  container-fluid " >
        <div class = "row align-items-center">
            <div class = "col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h1 class = "mainhead text-capitalize">Our workflow principles</h1>
                <p class = "text-center">We deliver easy-and-cheap-to-maintain products within the agreed timeframe and budget using an optimal technology stack.</p>
            </div>
        </div>    
        <div class=" mt-4">
            <div class="row main">
                <div class = "col-sm-12 col-md-4 col-lg-4 col-xl-4 mrgnbtm mrgntopfull">
                    <div class="card h-100 " style="background: rgba(255, 0, 0, 0.2);">
                        <div class="card-body" >
                            <div style="position: relative;">
                                <div class="img-round-sec" style=" background: #FF7602;">
                                    <%= image_tag("discussion.png", class: "img-fluid", alt: "wallet") %>
                                </div>
                            </div>
                            <div class ="mt-5">
                                <h1 class=" cardtitle1 cardtitle">Interview</h1>
                            </div>
                            <div>
                                <p class="cardtext1 cardtext">We interview you about your project to outline goals and concrete steps.</p>
                            </div>
                        </div>
                    </div>
                </div>        
                <div class = "col-sm-12 col-md-4 col-lg-4 col-xl-4 mrgnbtm mrgntopfull">
                    <div class="card h-100  " style="background: rgba(193, 216, 169); ">
                        <div class="card-body">
                            <div style="position: relative;">
                                <div class="img-round-sec" style="background: #44D300;">
                                    <%= image_tag("analysis.png", class: "img-fluid", alt: "technology") %>
                                </div>
                            </div>
                            <div  class ="mt-5">
                                <h1 class=" cardtitle1 cardtitle">Analysis</h1>
                            </div>
                            <div>
                                <p class="cardtext1 cardtext">When designing from scratch: we put together all the requirements and materials for study and analyze your competitors. 
                                    When redesigning: we study your current design to see what works and what doesn’t.</p>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class = "col-sm-12 col-md-4 col-lg-4 col-xl-4 mrgnbtm mrgntopfull mb-sm-0">
                    <div class="card h-100 " style="background: #9dd2e0;">
                        <div class="card-body">
                            <div style="position: relative;">
                                <div class="img-round-sec" style="
                                background: #0055D3;">
                                    <%= image_tag("wireframe.png", class: "img-fluid", alt: "money value") %>
                                </div>
                            </div>
                            <div  class ="mt-5">
                                <h1  class=" cardtitle1 cardtitle">Wireframe</h1>
                            </div>
                            <div>
                                <p class="cardtext1 cardtext">We create a prototype, or wireframe, from your requirements and our analytical data.</p>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>      

       
        <div class="row main">
            <div class = "col-sm-12 col-md-4 col-lg-4 col-xl-4 mrgnbtm mrgntopfull">
                <div class="card h-100 " style="background: #9f02ff85;">
                    <div class="card-body" >
                        <div style="position: relative;">
                            <div class="img-round-sec" style="background: #a74adf;">
                                <%= image_tag("visualsolution.png", class: "img-fluid", alt: "wallet") %>
                            </div>
                        </div>
                        <div class ="mt-5">
                            <h1 class=" cardtitle1 cardtitle">Visual solution</h1>
                        </div>
                        <div>
                            <p class="cardtext1 cardtext">We develop the general UI/UX design concept and lay out each page and screen in Figma.</p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class = "col-sm-12 col-md-4 col-lg-4 col-xl-4 mrgnbtm mb-sm-0 mrgntopfull">
                <div class="card h-100 " style="background: #7386007a;">
                    <div class="card-body">
                        <div style="position: relative;">
                            <div class="img-round-sec" style="
                            background: #899b33;">
                                <%= image_tag("implements.png", class: "img-fluid", alt: "money value") %>
                            </div>
                        </div>
                        <div  class ="mt-5">
                            <h1  class=" cardtitle1 cardtitle">Implementation</h1>
                        </div>
                        <div>
                            <p class="cardtext1 cardtext">We implement the designs.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "col-sm-12 col-md-4 col-lg-4 col-xl-4 mrgnbtm mrgntopfull">
                <div class="card h-100  " style="background: #00d3c780; ">
                    <div class="card-body">
                        <div style="position: relative;">
                            <div class="img-round-sec" style="background: #1bbbb2;">
                                <%= image_tag("checks.png", class: "img-fluid", alt: "technology") %>
                            </div>
                        </div>
                        <div  class ="mt-5">
                            <h1 class=" cardtitle1 cardtitle">Check</h1>
                        </div>
                        <div>
                            <p class="cardtext1 cardtext">Our designers working on your project vet the designs once those have been implemented.</p>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        </div>
    </div> 
</section>

<style>
    section.whywork .mrgnbtm .img-round-sec{
        position:absolute; top: -61px;
        border-radius: 50%;
            padding: 20px;
    }
</style>