<section>
    <div class="js-development-services container-fluid ">
        <div class="main">
            <div class="js-development-text pt-5">
                <h1 class="">Our React Development Services</h1>
                <p>We provide web services with worldwide appreciation</p>
            </div>
            
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 g-4">
                <div class="card h-100">
                        <div class="card-body">
                            <div class="d-flex">
                                <div>
                                    <%= image_tag('checkicon.png', class: 'bounceicon') %>
                                </div>
                                <div class="ms-3">
                                    <h5 class="card-title bounceicon"> UI/UX Development</h5>
                                    <p >Our experienced ReactJS developers utilize the best features of this JavaScript library to provide clients with web and mobile applications and appealing UI/UX designs. You will get an advanced web app with an excellent look and feel.</p>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
    
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 g-4">
                <div class="card h-100">
                        <div class="card-body">
                            <div class="d-flex">
                                <div>
                                    <%= image_tag('checkicon.png', class: 'bounceicon') %>
                                </div>
                                <div class="ms-3">
                                    <h5 class="card-title bounceicon"> Custom ReactJS Development</h5>
                                    <p >If you want a customized web and mobile app that matches your specific business needs, you can rely on Sparx IT Solutions. We develop custom applications that meet all your requirements. We have become a reliable choice of customers by fulfilling their custom web app needs.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 g-4">
                <div class="card h-100">
                        <div class="card-body">
                            <div class="d-flex">
                                <div>
                                    <%= image_tag('checkicon.png', class: 'bounceicon') %>
                                </div>
                                <div class="ms-3">
                                    <h5 class="card-title bounceicon"> ReactJS Plugin Development</h5>
                                    <p >Our professionals are adept at creating custom plugins, add-ons, or extensions for your mobile or web application. Appending the extensions/add-ons to your mobile or web application will enable you to extend its existing functionality.</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
    
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 g-4">
                <div class="card h-100">
                        <div class="card-body">
                            <div class="d-flex">
                                <div>
                                    <%= image_tag('checkicon.png', class: 'bounceicon') %>
                                </div>
                                <div class="ms-3">
                                    <h5 class="card-title bounceicon">ReactJS Web App Development</h5>
                                    <p >We have plenty of experience in developing high-performance, SEO-friendly, and dynamic web applications for different clientele. Our developers will create an efficient web app with excellent usability using the ReactJS library. Choose us as your React.js development company to get unbeatable web apps.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 g-4">
                <div class="card h-100">
                        <div class="card-body">
                            <div class="d-flex">
                                <div>
                                    <%= image_tag('checkicon.png', class: 'bounceicon') %>
                                </div>
                                <div class="ms-3">
                                    <h5 class="card-title bounceicon"> ReactJS Migration Service</h5>
                                    <p >Choosing the right service provider can be crucial for the migration of your existing apps to ReactJS to make it smooth and hassle-free. We help in the migration of your applications without any impact on your business. Our professionals will perform every task during migration.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 g-4">
                <div class="card h-100">
                        <div class="card-body">
                            <div class="d-flex">
                                <div>
                                    <%= image_tag('checkicon.png', class: 'bounceicon') %>
                                </div>
                                <div class="ms-3">
                                    <h5 class="card-title bounceicon"> ReactJS Support & Maintenance</h5>
                                    <p >As a top-rated service provider, we provide reliable support and maintenance services for applications that are built using react-based frameworks, such as Next.js and Gatsby. We provide quality services and ensure that your app is functioning seamlessly.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>