<section class="logos mt-xs-1 mb-sm-4 mb-lg-5">
    <div class="" style="background: #F5F5FA;">
        <div class="row space6">
            <div class="py-5">
                <div class="logos main mt-0  d-flex flex-wrap justify-content-sm-center  justify-content-lg-evenly flex-row">
                    <%= image_tag('circle1.png', class: 'img-fluid', alt: 'circle') %>
                    <%= image_tag('codelab1.png', class: 'img-fluid', alt: 'codelab') %>
                    <%= image_tag('ideaa1.png', class: 'img-fluid', alt: 'idea') %>
                    <%= image_tag('hexa1.png', class: 'img-fluid', alt: 'hexa') %>
                    <%= image_tag('muzica1.png', class: 'img-fluid', alt: 'muzica') %>
                    <%= image_tag('lightal1.png', class: 'img-fluid', alt: 'lightai') %>
                </div>
            </div>
        </div>
    </div>
</section>